html,
body {
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
}


.temp-error{
    height: auto;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.monthyear{
  padding-top: 50px;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.listofart{
  padding-bottom: 150px;
}

.article-title {
  display: flex;
  width: 100%;
  font-size: 20px;
  padding-left: 10px;
  color: white;
  align-items: center;
}

.title {
  margin-right: auto;
  color: white;
  text-decoration: none;
}

.title:hover {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.filler {
  flex-grow: 1;
  color: transparent;
  border-bottom: 1px dashed rgb(255, 255, 255); /* Add this line */
  position: relative;
  top: 50%;
  transform: translateY(-45%);
  margin: 0px 3px;
}