html,
body {
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
}


.temp-error{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.search-result-title{
  font-size: 30px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: white;  
}


.results {
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 30px;
}

.result-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  text-align: left;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author {
  text-align: right;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}