{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!--- 
<div class="temp-error">
    This About Page is still in development. Go home in the meantime :)
</div>
--->

<div class="robot-center">
    <div class="robot1"></div>
    <div class="robot2"></div>
    <div class="robot3"></div>
    <div class="robot4"></div>
    <div class="robot5"></div>
</div>


<div class="yapping-sentimental">
    Hi, friends (...or enemies)! My name is Connor, and I'm currently a Math + CS student @ Columbia. And although everyone seems to be Math + CS these days, I SWEAR I'm different! What makes me so special is my god-like ability in both Brawl Stars and Clash Royale. I'm really good...trust!<br>
    <br>
    And although I'm definitely not the best at math, I've really enjoyed learning about it in my courses at school. Right now, my research interests predominantly lie in the field of number theory, but I'm new to the game...so who knows? Things could change quicker than Max's super (Brawl star's reference).<br>
    <br>
    Anyway, I love teaching math and learning about it...but I've often found that learning higher-level mathematics can seem a bit daunting and inaccessible. So, I've decided to create this blog-esque website to share my musings. Also, with the latest update to the site, I've added some of my CS musings too, including open sources for some useful projects I've been working on. If you have any questions, please feel free to reach out to my social medias below - and I'll try my best to help you out! That being said, please stay a while - the water (math) is warm (fun)!
</div>

<div class='socials'>
    <ul>
        <li><a href="mailto:liconnor2003@gmail.com"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
        <li><a href="http://connor-li.com/"><i class="fas fa-info-circle" aria-hidden="true"></i></a></li>        
        <li><a href="https://www.instagram.com/connnnooorrrli/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/connor-li-4871a71a9/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/connorli18"><i class="fab fa-github" aria-hidden="true"></i></a></li>
    </ul>
</div>
{% endblock %}