{% extends 'layout.html' %}

{% block content %}

<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
</script>
<script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='articlespec.css') }}">

<div class="article">
    $$ \int_0^{\infty} 9x\,dx $$

    \begin{align*}
        5x &= 3x + 2\\
        2x &= 2\\
        x &= 1
    \end{align*}
</div>

{% endblock %}