{% extends 'layout.html' %}

{% block content %}

<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
</script>
<script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='articlespec.css') }}">

<div class="article">
    <div class="articles-header">
        <div class="title-article">The Fundamental Theorem of Calculus</div>
        <div class="author-article">Connor Li</div>
        <div class="date-article">March 2024</div>
    </div>

    <div class="tocheader">
        Table of Contents
    </div>
    <div class="toc-wrapper">    
        <div class="table-of-contents"></div>
    </div>

    <div class="section">Overview</div>

    
    $$ \int_0^{\infty} 9x\,dx $$

    <div class="subsection">Hello</div>
    <div class="subsection">World</div>

    <div class="section">Proof</div>
    <div class="subsection">Step 1</div>
    <div class="subsubsection">Step 1.1</div>
    <div class="subsubsection">Step 1.2</div>
    <div class="subsection">Step 2</div>

    \begin{align*}
        5x &= 3x + 2\\
        2x &= 2\\
        x &= 1
    \end{align*}
</div>

<script src="{{ url_for('static', filename='articlespec.js') }}"></script>
{% endblock %}