{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">

<div class="search-result-title">
    {% if result|length == 0 %}
        No search results for "{{ query }}"
    {% else %}
        {{ result|length }} search results for "{{ query }}"
    {% endif %}
</div>

<div class="results">
    {% for item in result %}
        <div class="result-item">
            <div class="title"><a id="link-nav-bar" href="{{ url_for('articlespec', article=item.key) }}">&bull; {{ item.title }}</a></div>
            <div class="dashed-line"></div>
            <div class="author">{{ item.author }}</div>
        </div>
    {% endfor %}
</div>



{% endblock %}